body {
	margin: 0 ;
	font-size: 15px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	background:  #eee5ddaf;
	line-height: 15px;
}

ul,li{
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

li {
	list-style: none;
}
a:link {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color:  #dc7531;
	text-decoration:none;
	overflow: hidden;
}
nav {
	width: 1000px;
	height: 50px;
	background:  #dc7531;
	margin: 0 auto;
}

nav ul {
	width: 1000px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	margin: 0 auto;
}

nav ul li {
	width: 250px;
	height: 50px;
	line-height: 50px;
	/*color: #000000;*/
	float: left;
	text-align: center;
}

nav li a {
	color: #fff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	margin-left: 2px;
	display: block;
	font-weight: bold;
}

nav li a:hover {
	color: #000000;
	background: #febc90;
}

.home {
	color: #fff;
}
.intro{
    color: #fff;
	background: #943d04;
}
.expe {
	color:  #fff ;
}
.contact {
	color:  #fff;
}
.nothing{
	width: 1000px;
	height: 10px;
	margin: 0 auto;
	background-color: #492810;
}
.box_1{
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}

.inner {
	width: 1000px;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.inner img {
	width: 1000px;
	height: 600px;
	vertical-align: top;
}




.main{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 12px;
background-color:  antiquewhite;
width: 1000px;
margin: 0 auto;
}



.box_2{
	width: 1000px;
	margin: 0 auto;
	height: 280px;
	background-color: antiquewhite;
}
.inner_2{
	padding-left: 30px;
	padding-right:20px ;
}
.inner_2 img{
	width: 220px;
	height: 280px;
	float: left;
	/*padding-top: 10px;*/
}
.inner_2 h1{
	padding-top: 20px;
	padding-left: 270px;
	font-size: 20px;
}
.inner_2 p{
	padding-left: 270px;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 30px;
}


.box_3{
	width: 1000px;
	margin: 0 auto;
	height: 300px;
	background-color: rgb(184, 152, 124);
	padding-top:  0px; 
}
.inner_3{
	padding-left: 30px;
	padding-right:20px ;
}
.inner_3 img{
	width: 220px;
	height: 280px;
	float: left;
	padding-top: 10px;
}
.inner_3 h1{
	padding-top: 30px;
	padding-left: 270px;
	font-size: 20px;
}
.inner_3 p{
	padding-left: 270px;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 30px;

}



.box_4{
	width: 1000px;
	margin: 0 auto;
	height: 300px;
	background-color: antiquewhite;
}
.inner_4{
	padding-left: 30px;
	padding-right:20px ;
}
.inner_4 img{
	width: 220px;
	height: 280px;
	float: left;
}
.inner_4 h1{
	padding-top: 10px;
	padding-left: 270px;
	font-size: 20px;
}
.inner_4 p{
	padding-left: 270px;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 30px;
}


footer{
	text-align: center;
	font-size: 15px;
}

